@import "../configurations/variables";

.comp-app {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: column;
  min-height: 650px;
  min-width: 950px;

  //> .inner {
  //  display: flex;
  //  height: 100%;
  //  padding: 10px;
  //  box-sizing: border-box;
  //  flex-direction: row;
  //}

  > .header {
    border-bottom: 2px solid $color-section-border;
    height: 40px;
  }

  > .footer {
    text-align: center;
    border-top: 2px solid $color-section-border;
    height: 30px;
  }

  > .content {
    display: flex;
    flex: 1;

    > .main {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: column;

      > div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
    }

    > .sidebar {
      @include section;
      order: -1;
      width: 200px;
      flex: none;
      display: flex;
      flex-direction: column;

      .m-sidebar-buttons {
        flex: none;
        margin: 0 10px;

        .m-button {
          width: 100%;
          display: block;
          margin: 10px 0;
          text-align: center;
        }
      }
    }

    > .ads {
      @include section;
      text-align: center;
      flex: 0 0 12em;
    }
  }

  > .aside {
    @include section;
    order: 2;
    flex: 1 auto;

    &.sidebar {
      width: 200px;
      flex: none;
      display: flex;
      flex-direction: column;

      .m-sidebar-buttons {
        flex: none;
        margin: 0 10px;

        .m-button {
          width: 100%;
          display: block;
          margin: 10px 0;
        }
      }
    }
  }

  > .dialogs {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    flex-direction: column;
    align-content: center;

    > section {
      @include raised;
      max-width: 600px;
      margin: auto;
      padding: 10px;

      > h1 {
        margin: 0px;
        font-size: 14px;
      }
    }
  }

  &.dialogs-open {
    > .dialogs {
      display: flex;
    }

    &:after {
      content: " ";
      background: transparentize($color-background, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 250;
    }
  }
}